<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
  <meta name="description" content="{{ site.description }}">

  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/main.css" />
  
  {% if page.mathjax %} {% include mathjax.html %} {% endif %}
  {% if page.mermaid %}
  <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
  <script>mermaid.initialize({ startOnLoad: true});</script>
  {% endif %}  
</head>
