* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--font);
  font-size: var(--font-size);
  line-height: var(--line-height);
}

body {
  color: var(--body-color);
  background-color: var(--body-background);
}

a {
  color: var(--body-color);
  text-decoration: none;
}

img {
  max-width: 100%;
}

table {
  display: block;
  overflow-x: auto;
  width: 100%;
  
  border-collapse: collapse;
  margin: 1rem 0;
}

th, td {    
  border: 1px solid var(--body-color);
  padding: .25rem .5rem;
  text-align: center;
}

tr:hover {
  background-color: var(--gray-800);
}
