.post {
    padding: 1rem;
    border-top: 1px solid var(--gray-700);
    border-bottom: 1px solid var(--gray-700);

    a {
        border-bottom: 1px dashed var(--body-color);
    }
}

.crumb {
    padding: .3rem 1rem;

    & p {
        padding: 0;
        margin: 0;
        text-align: center;
        color: var(--gray-500);
    }

    & a {
        color: var(--link-color);
    }
}